<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CWA.Properties.Settings.MAPConnectionString" connectionString="Data Source=NAKPRG-NB1243\AHMAD;Initial Catalog=MAP;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="CWA.Properties.Settings.Performance_NAKConnectionString" connectionString="Data Source=172.26.7.159;Initial Catalog=Performance_NAK;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="CWA.Properties.Settings.Performance_NAKConnectionString1" connectionString="Data Source=172.26.7.159;Initial Catalog=Performance_NAK;User ID=cwpcApp;Password=cwpcApp@830625#Ahmad" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
